.custom-font {
  font-family: 'Josefin Sans', sans-serif;
}

ion-toolbar {
  --background: transparent;

  ion-title {
    padding: 20px 0 46px 0;
    font-weight: 900;
  }

p {
  padding: 40px 0 20px 0;
  font-weight: 600;
}



  .back-circle {
    z-index: -1;
    width: 200px;
    height: 200px;
    background: #e5ecf1;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


ion-content {

  --background: rgb(237, 242, 245, .8);

.back-blob {
  z-index: -1;
width: 600px;
position: absolute;
left:-50%;
top: 0;
}

form {
  margin-top: 100px;
  
}

}


