<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#8295A3" d="M54,-58.9C64.6,-43.3,64.2,-21.7,61.8,-2.5C59.3,16.7,54.7,33.4,44.1,48.6C33.4,63.7,16.7,77.2,-1.1,78.3C-18.9,79.4,-37.7,68,-53.4,52.9C-69.1,37.7,-81.6,18.9,-82.9,-1.2C-84.1,-21.4,-74.1,-42.7,-58.4,-58.3C-42.7,-73.9,-21.4,-83.7,0.2,-83.9C21.7,-84,43.3,-74.5,54,-58.9Z" transform="translate(100 100)" />
  </svg>

  <div class="ion-padding">

<form class="ion-padding">

  <div class="wrap-input"> 
<input class="input" type="text" name="user-name" placeholder="Full Name">
  </div>

  <div class="wrap-input">
 <input class="input" type="text" name="user-email" placeholder="Email">
  </div>

  <div class="wrap-input">
    <input class="input" type="password"name="password" placeholder="password">
     </div>

     <div class="container-form-btn">
      <button class="form-btn custom-font">
        Submit
      </button>
     </div>

</form>

  </div>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Already have an account? <a href="">Sign In</a> </p>
  </ion-toolbar>
</ion-footer>
